/* For use in src/lib/core/theming/_palette.scss */
$primary_palette: (
    50 : #fef6fa,
    100 : #fceaf2,
    200 : #fadcea,
    300 : #f8cde2,
    400 : #f7c3db,
    500 : #f5b8d5,
    600 : #f4b1d0,
    700 : #f2a8ca,
    800 : #f0a0c4,
    900 : #ee91ba,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$accent_palette: (
    50 : #f1e6f1,
    100 : #ddc1dc,
    200 : #c797c5,
    300 : #b06dad,
    400 : #9f4e9c,
    500 : #8e2f8a,
    600 : #862a82,
    700 : #7b2377,
    800 : #711d6d,
    900 : #5f125a,
    A100 : #ff96f8,
    A200 : #ff63f4,
    A400 : #ff30f0,
    A700 : #ff17ef,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

